{% extends 'shared/layout.html' %}
{% load static %}
{% block h3 %}
  Anon Ticket
{% endblock %}
{% block subheader %} 
  Anonymous Ticket Reporting for GitLab
{% endblock %}

{% block content %}
<div class="row">
  <div class="col-12 pr-5">
    <p class="pr-5">Welcome to Anon-Ticket, Tor's anonymous ticket reporting system for GitLab.</p>
    <p class="pr-5">
      To get started, please create a user identifier below. This process
      is instant and requires no data from you.</p>
    <p class="pr-5">
      If you want to be able to check the status of your ticket later,
      record your identifier in a safe place. You can also bookmark the 
      landing page after logging in.
      </p>
  </div>
</div>
<div class="row">
  <div class="col-12 mt-4">
    <a href="{% url 'create-identifier' %}" class="btn btn-large btn-primary mr-4">
      CREATE NEW IDENTIFIER</a>
    </a>
    <a href="{% url 'login' %}" class="btn btn-large btn-primary mr-2">
     LOGIN WITH PREVIOUS IDENTIFIER</a>
  </div>
</div>
{% endblock %}