{% extends 'shared/layout.html' %}
{% load static %}
<!-- Load custom filters from shared app, including ISO 8901 Date-Time Converter -->
{% load custom_filters %}
<!-- Load markdownify -->
{% load markdownify %}
<!-- Start Page Render -->
<!-- Extra links block for pages that have a user_identifier piped to them.-->
{% block extra_links %}
  {% include 'shared/extend_sidebar.html' %}
{% endblock %}

{% block h3 %}
{% if object %}
<!-- Close out the h3 block from extended template to make smaller text on top first. -->
</h3>
<div class="row justify-content-between">
    <p class="col-auto mb-0 small pb-0 pt-0">{{object.name_with_namespace}} (Project # {{object.gitlab_id}})</p>
    <p class="col-auto text-muted small mb-0 pb-0 pt-0 text-right">
      <a href="{{object.url}}" class="btn btn-sm btn-outline-primary mb-1 ml-4 px-1 py-0" target="__blank">
        View this project on Gitlab
      </a>
    </p>
</div>
  <hr class="mt-0">
  <!-- Make a true header -->
  <h4>{{object.name}}</h4>
  <!--Mimic commit/branch/tags/files/storage data.-->
  <p class="small">
    {{object.description}}
  </p>
{% else %}
    Project Not Found
{% endif %}
{% endblock %}

{% block subheader %}
{% endblock %}

{% block content %}
<!-- Create the user-actions block -->
<div class="row">
  <div class="col-12">
    <p>
      You can either
      {% url 'create-issue' results.user_identifier as create_url %}
      <a href="{{create_url}}">create a new issue</a>
      or 
      {% url 'user-landing' results.user_identifier as go_back_url %}
      <a href="{{go_back_url}}">go back to your landing page.</a>
    </p>
  </div>
</div>

<!-- Create the Issues List Block For Open Issues-->
<div class="row">
  <div class="col-12 mt-5">
    <h4 class="text-primary"> Open Issues
      <!-- Create New Issue badge link -->
      <a href="{{create_url}}" class="badge btn btn-outline-primary ml-2">
        Create New
      </a>
    </h4> 
    {% if issues_list %}
      <table class="table table-sm mt-3">
        {% for issue in issues_list %}
          {% if issue.state == "opened" %}
          <tr>
            <td>
              {% url 'issue-detail-view' results.user_identifier object.slug issue.iid as detail_url %}
              <a href="{{detail_url}}"><strong>{{issue.title}}</strong></a><br>
              # {{issue.iid}} | Opened {{issue.created_at|pretty_datetime}} by {{issue.author.username}}.
              {% if issue.milestone.title %}
                <span class="badge">Milestone: {{issue.milestone.title}}</span>
              {% endif %}
              {% if issue.labels %}
                {% for label in issue.labels %}
                  <span class="badge-pill badge-primary ml-1 small">{{label}}</span>
                {% endfor %}
              {% endif %}
            </td>
            <td class="text-right small" style="width:25%">
              {% if issue.assignee.name %}
                Assigned to {{issue.assignee.name}}.
              {% else %}
                Not yet assigned.
              {% endif %}
              <span class="ml-2">
                (<a href="{{detail_url}}">{{issue.user_notes_count}} Notes</a>)
              </span><br>
              Updated {{issue.updated_at|pretty_datetime}}
            </td>
          </tr>
          {% endif %}
        {% endfor %}
      </table>
    {% endif %}
    {% if open_issues_flag == False %}
      <p class="ml-3 text-muted"> No open issues at this time. </p>      
    {% endif %}
  </div>
</div>

<!-- Create the Issues List Block for closed issues-->
<div class="row mt-5">
  <div class="col-12">
    <h4 class="text-primary">Closed Issues:</h4>
    {% if issues_list %}
      <table class="table table-sm mt-3">
        {% for issue in issues_list %}
          {% if issue.state == "closed" %}
          <tr>
            <td>
              {% url 'issue-detail-view' results.user_identifier object.slug issue.iid as detail_url %}
              <a href="{{detail_url}}"><strong>{{issue.title}}</strong></a><br>
              # {{issue.iid}} | Opened {{issue.created_at|pretty_datetime}} by {{issue.author.username}}.
              {% if issue.milestone.title %}
                <span class="badge">Milestone: {{issue.milestone.title}}</span>
              {% endif %}
              {% if issue.labels %}
                {% for label in issue.labels %}
                  <span class="badge-pill badge-primary ml-1 small">{{label}}</span>
                {% endfor %}
              {% endif %}
            </td>
            <td class="text-right small" style="width:25%">
              CLOSED
              <span class="ml-2">
                (<a href="{{detail_url}}">{{issue.user_notes_count}} Notes</a>)
              </span><br>
              Updated {{issue.updated_at|pretty_datetime}}
            </td>
          </tr>
          {% endif %}
        {% endfor %}
      </table>
    {% endif %}
    {% if closed_issues_flag == False %}
    <p class="ml-3 text-muted"> No closed issues at this time. </p>      
    {% endif %}
  </div>
</div>

{% endblock %}