<!-- Extend the layout template -->
<!-- Can leave any block as default if preferred -->
{% extends 'shared/layout.html' %}
<!-- Load static method for templates -->
{% load static %}
<!-- title block sets the main title on the page (in browser bar)-->
{% block title %}
  Anon Ticket
{% endblock %}
<!-- Extra links block for pages that have a user_identifier piped to them.-->
{% block extra_links %}
  {% include 'shared/extend_sidebar.html' %}
{% endblock %}
<!-- h3 block sets the main title -->
{% block h3 %}
  Anon Ticket
{% endblock %}

<!-- Subheader block sets the subheader -->
{% block subheader %} 
  User Landing Page for:
  <div class="p-2 pb-0">
    <h3 class="text-primary">{{results.user_identifier}}</h3>
  <!-- Check if user_found in results dictionary. If so, list actions already taken. -->
    {% if results.user_found %}
      <p class="small ml-0 mb-0">
        (***This User Identifier has been found. Feel free to bookmark this page to return to it at a later date.)
      </p>
    {% else %}
      <p class="small ml-0">
        (No actions taken yet with this user identifier. Feel free to bookmark this
        page to return to it at a later date.)
      </p>
    {% endif %}
  </div>
{% endblock %}
<!-- End of subheader block -->

<!-- Main content block  -->
{% block content %}
<div class="row">
  <div class="col-12">
    <!-- List actions that can be taken. -->
    <h4 class="mt-0">You can take the following actions:</h4>
    <!-- Generate the action URLS on the fly within the template. -->
    <p class='mt-4 mb-0'>
      <ul>
        <li>{% url 'project-list' results.user_identifier as project_list_url %}
          <a href="{{project_list_url}}">See a list all projects</a> that
          currently take ticket reports via Anon-Ticket. Each project 
          listed links to a detail page with a list of current issues.</li>
        <li>{% url 'issue-search' results.user_identifier as search_url %}
        <a href="{{search_url}}">Search for an issue</a> inside of a given project.</li>
        <li>{% url 'create-issue' results.user_identifier as create_url %}
        <a href="{{create_url}}">Create an issue</a> inside of a given project.</li>
        <li>To create a note on an existing issue, use one of the methods above 
          to navigate to an issue's detail page, and then click "Create Note."
        </li>
      </ul>
    </p>
  </div>
</div>

<!-- List the issues the user has created. -->
<div class="row">
  <div class="col-12 mt-3">
    <h4 class="mt-3">You have created the following issues:</h4>
    <p class="small short-height">
      (If you'd like to create a new issue, please use one of the options above.)
    </p> 
  </div>
</div>
<!-- If results.linked_issues, render the issues table. -->
{% if results.linked_issues %}
<div class="row">
  <div class="col-12 mt-3">
    <table>
      <thead>
        <th class="align-middle" style="width:15%">
          Project
        </th>
        <th class="align-middle">
          Issue # / Issue Title
        </th>
        <th class="align-middle" style="width:15%">
          Issue Status
        </th>
      </thead>
      <tbody>
        {% for issue in results.linked_issues %}
        <!-- If the issue has a gitlab.iid, it has been approved. -->
        {% if issue.gitlab_iid %}
        <tr>
          <td>
            {{issue.linked_project.name_with_namespace}}
          </td>
          <td>
            <!-- Generate issue-detail-view url -->
            {% url 'issue-detail-view' results.user_identifier issue.linked_project.slug issue.gitlab_iid as issue_url %}
            Issue #{{issue.gitlab_iid}}: <a href="{{issue_url}}">{{issue.title}}</a>
          </td>
          <td>
            {{ issue.get_reviewer_status_display }}
          </td>
        </tr>
        {% else %}
        <tr>
          <td>
            {{issue.linked_project.name_with_namespace}}
          </td>
          <td>
            <!-- Generated Pending Issue Detail View URL -->
            {% url 'pending-issue-detail-view' results.user_identifier issue.linked_project.slug issue.pk as issue_url %}
            Issue # (NA): <a href="{{issue_url}}">{{issue.title}}</a>
          </td>
          <td>
            {{ issue.get_reviewer_status_display }}
          </td>
        </tr>
        {% endif %}
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
<!-- Else, render the following block -->
{% else %}
<div class="row">
  <div class="col-12 mt-0">
    <p class="text-primary">You have not created any issues.</p>
  </div>
</div>
{% endif %}

<!-- List the notes the user has created. -->
<div class="row">
  <div class="col-12 mt-3">
    <h4 class="mt-4">You have created the following notes:</h4>
    <p class="small short-height">(To create a new note, <a href="{{search_url}}">
      search for the issue</a> you want to comment on, or look at the 
      <a href="{{project_list_url}}">project's detail view</a> to find it.) 
  </div>
</div>
<!-- If results.linked_notes, render the notes table. -->
{% if results.linked_notes %}
<div class="row">
  <div class="col-12 mt-3">
    <table>
      <thead>
        <th class="align-middle" style="width:15%">
          Project
        </th>
        <th class="align-middle">
          Issue # / Issue Title
        </th>
        <th class="align-middle">
          Note Excerpt and Link
        </th>
        <th class="align-middle" style="width:15%">
          Note Status
        </th>
      </thead>
      <tbody>
        {% for note in results.linked_notes %}
        <!-- If the note has a gitlab.id, it has been approved. Render approved notes. -->
        {% if note.gitlab_id %}
        <tr>
          <td>
            {{note.linked_project.short_name_with_namespace}}
          </td>
          <td>
            <!-- Generate a linke to the issue-detail-view url -->
            {% url 'issue-detail-view' results.user_identifier note.linked_project.slug note.issue_iid as issue_url %}
            Issue #{{note.issue_iid}}: 
            <a href="{{issue_url}}">{{note.gitlab_issue_title}}</a>
          </td>
          <td>
            {{note.body|capfirst|truncatewords:20}}
            <p class="mb-0 small"><a href="{{issue_url}}">(Posted to issue.)</a></p>
          </td>
          <td>
            {{ note.get_reviewer_status_display }}
          </td>
        </tr>
        <!-- If note has not been approved, render a slightly different row. -->
        {% else %}
        <tr>
          <td>
            {{note.linked_project.short_name_with_namespace}}
          </td>
          <td>
            <!-- Generated Pending Issue Detail View URL -->
            {% url 'issue-detail-view' results.user_identifier note.linked_project.slug note.issue_iid as issue_url %}
            Issue # {{note.issue_iid}}: <a href="{{issue_url}}">{{note.gitlab_issue_title}}</a>
          </td>
          <td>
            {% url 'pending-note' results.user_identifier note.linked_project.slug note.issue_iid note.pk as note_url %}
            {{ note.body|capfirst|truncatewords:20 }}
            <p class="mb-0 small"><a href="{{note_url}}">(See Full Note Text)</a></p>
          </td>
          <td>
            {{ note.get_reviewer_status_display }}
          </td>
        </tr>
        {% endif %}
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
<!-- Else, render the following block -->
{% else %}
<div class="row">
  <div class="col-12 mt-0">
    <p class="text-primary">You have not created any notes.</p>
  </div>
</div>
{% endif %}


{% endblock %}