<!-- Extend the layout template -->
<!-- Can leave any of these as default -->
{% extends 'shared/layout.html' %}
<!-- Load static method for templates -->
{% load static %}
<!-- title block sets the main title on the page (in browser bar)-->
{% block title %}
  Anon Ticket
{% endblock %}
<!-- h3 block sets the main title -->
{% block h3 %}
  Anon Ticket
{% endblock %}
<!-- Subheader block sets the subheader -->
{% block subheader %} 
  User Identifier Invalid
{% endblock %}
<!-- block content block is where page contents go -->
{% block content %}
<div class="row">
  <div class="col-12">
    <p>It looks like you tried to login with:</p>
    <p>{{user_identifier}}</p>
    <p>That doesn't appear to be a valid identifier.</p>
    <p>
      Would you like to try to <a href="{% url 'login' %}">login again?</a>
    </p>
    <p>
    Or do you want to <a href="{% url 'create-identifier' %}">create an identifier code-phrase</a>?.
    </p>
  </div>
</div>
{% endblock %}